.cars-item {
    height: 257px;
    padding: 30px 30px 0;
    background-color: #fff;
    border-radius: 24px;
    @include webkit(box-shadow, 0 0 18px rgba(0, 0, 0, 0.2));
    @include webkit(box-sizing, border-box);
    margin: auto;
    header {
      display: flex;
      h4,
      p {
        flex: 1;
      }
    }
  }
  .cars-logo {
    img {
      display: inline-block;
      vertical-align: middle;
      height: 34px;
      margin-right: 10px;
    }
    .name {
      font-size: 15px;
    }
  }
  .cars-attr {
    text-align: right;
    line-height: 34px;
    
    opacity: 0.5;
  }
  .cars-number {
    font-size: 20px;
  }
  .cars-content {
    margin: 11px 0 7px;
    position: relative;
    height: 120px;
    display: flex;
  
    img {
      position: absolute;
      right: 0;
      height: 120px;
    }
    .info {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .cars-electric {
      padding-top: 10px;
      display: inline-block;
      li {
          display: inline-block;
          width: 7px;
          height: 24px;
          margin-right: 3px;
          background-color: #e1e1e1;
          border-radius: 100px;
      }
      @for $i from 1 through 10 {
          &.active-li-#{$i}{
              li:nth-child(-n+#{$i}) { @include webkitA(background, linear-gradient(#17a8fa, #108dd9)); }
          }
      }
  }

  }
  .distance {
    margin: 0 3px;
    display: inline-block;
    sub {
      top: -2px;
    }
    strong {
      margin: 0 5px;
      font-size: 22px;
    }
    sub:first-of-type {
      opacity: 0.6;
    }
  }
  .parking-link {
    position: relative;
    display: block;
    color: $color-main;
    border-top: 1px solid #e1e1e1;
    opacity: 0.8;
    line-height: 53px;
    span {
      display: inline-block;
      position: absolute;
      width: 8px;
      height: 8px;
      right: 0;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      border-top: 1px solid black;
      border-right: 1px solid black;
    }
  }
  .cars-detail {
    height: 0px;
  //  @include webkit(transition all .3s ease 0s);
    transition:height .3s ease 0s;
    .scroll {
      height: 100%;
      overflow-y: auto;
    }
    // display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 0;
    .column {
      position: relative;
      padding: 26px 0 20px;
      font-size: 20px;
      color: #34393f;
      border-bottom: 1px solid #e1e1e1;
      margin-bottom: 19px;
      .close {
        position: absolute;
        top: 23px;
        right: 0;
        display: block;
        width: 26px;
        height: 26px;
        cursor: pointer;
        &:before,
        &:after {
          position: absolute;
          top: 20%;
          left: 50%;
          content: " ";
          background-color: #999c9f;
          width: 1px;
          height: 20px;
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
    .cars-electric-box {
      margin-top: 37px;
      margin-bottom: 32px;
      border-radius: 100px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      background-color: #e1e1e1;
      div {
        
        height: 30px;
        border-radius: 100px;
        background-color: #0095f9;
      }
    }
    .cars-center {
      position: relative;
      .pull-left {
        position: absolute;
        left: 0;
        font-size: 24px;
      }
      .pull-right {
        position: absolute;
        right: 0;
      }
    }
    .price-list {
      margin-top: 15px;
  
      li {
        display: flex;
        padding: 0 17px 0 20px;
        height: 43px;
        background-color: #f3f3f3;
        border: #f3f3f3 solid 2px;
        border-radius: 20px;
        line-height: 43px;
        font-size: 16px;
        margin-bottom: 10px;
        .check-name {
          flex: 1;
        }
        .price {
          flex: 1;
          text-align: right;
        }
      }
    }
  .select-car-btn  {
    position: absolute;
    bottom: -42px;
    left: 50%;
    transform: translateX(-50%);
  }
  }
  .check {
    border-color: #0095f9 !important ;
  }
  .clause-dec {
    span {
      position: absolute;
      left: 30px;
    }
    i {
      position: absolute;
      right: 30px;
      width: 20px;
      height: 20px;
      border-radius: 100px;
      background-color: #cccccc;
      &.current {
        background-color: $color-main;
      }
      &:before {
        content: "";
        display: block;
        width: 8px;
        height: 4px;
        margin: 6px 0 0 5px;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: rotate(-45deg);
      }
    }
  }