
.user-info {
    display: flex;
    padding: 84px 0 80px 10px;
    img {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        border: 6px solid #2f343a;
    }
    .mate {
        flex: 1;
        padding-left: 17px;
    }
    .name {
        font-size: 18px;
        line-height: 43px;
        color: #909090;
    }
    span {
        display: inline-block;
        height: 27px;
        padding: 0 19px;
        background-color: #10a0f2;
        border-radius: 100px;
        line-height: 27px;
        color: #fff;
        font-size: 14px;
    }
}
.logout {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
    width: 165px;
    height: 58px;
    line-height: 58;
    color: #fff;
    line-height: 58px;
    text-align: center;
    font-size: 18px;
    background-color: #2d333b;
    border-radius: 100px;
    outline: none;
    border: none;
   
}